<div>
<p><a href="#top">Contents</a></p>
<ul>
<li>
<a href="#introduction">1   Introduction</a><ul>
<li><a href="#what-is-pycparser">1.1   What is pycparser?</a></li>
<li><a href="#what-is-it-good-for">1.2   What is it good for?</a></li>
</ul>
</li>
</ul>
</div>
<a name="introduction"></a>
<h2>1   Introduction</h2>
<a name="what-is-pycparser"></a>
<h3>1.1   What is pycparser?</h3>
<p><strong>pycparser</strong> is a parser for the C language, written in pure Python. It is a
module designed to be easily integrated into applications that need to parse
C source code.</p>
<a name="what-is-it-good-for"></a>
<h3>1.2   What is it good for?</h3>
<p>Anything that needs C code to be parsed. The following are some uses for
<strong>pycparser</strong>, taken from real user reports:</p>
<ul>
<li>C code obfuscator</li>
<li>Front-end for various specialized C compilers</li>
<li>Static code checker</li>
<li>Automatic unit-test discovery</li>
<li>Adding specialized extensions to the C language</li>
</ul>
<p><strong>pycparser</strong> is unique in the sense that it's written in pure Python - a very
high level language that's easy to experiment with and tweak. To people familiar
with Lex and Yacc, <strong>pycparser</strong>'s code will be simple to understand.</p>
